html, body 
{
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body
{
    background-color: rgb(233, 233, 233);    
    margin: 0px;
    padding: 0px;
}

h1
{
    text-align: center;
    margin: 0;
    padding-top: 10pc;
    padding-bottom: 15px;
}

p
{
    text-align: center;
    margin: 0;
    padding-bottom: 10pc; 
}

header
{
    background: rgb(71, 71, 71);
    color: white;
    margin: 0;
    padding: 0;
    display: fixed
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9acd32;
}
  
  li 
  {
    float: left;
  }
  
  li a 
  {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  li a:hover
  {
    background-color: #5b791f;
  }