---
// Minimal Astro starter style index page
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Alex Mollard</title>
  </head>
  <body>
    <h1>Alex Mollard</h1>
    <p>Minimal Astro starter style page.</p>
  </body>
</html>
